*{
    margin: 0;
}

main{
    width: 100%;
    height: 100%;
    margin: auto;
}

div > img{
    width: 500px;
    height: 300px; 
    margin-left: 430px;
    margin-top: 600px; 
}

#clip_1{
    position: absolute;
    width: 100%;
    height: 100%;
    clip: rect(0, 1350px, 230px, 0);
}

#clip_2{
    position: absolute;
    width: 100%;
    height: 100%;
    clip: rect(410px, 1350px, 640px, 0);
}